h1{
        position:absolute;
        color: whitesmoke;
        height: auto 30%;
        width: 15.2%;
        padding: -43.4%;
        margin-left: 1%;
        margin-right: 8%;
        margin-bottom: auto;
        border:2px;
        background-color:darkseagreen;
        border-style: dotted;
        border-width: 90%;
        border-color: white;
        border-bottom: auto;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 13.3px;
        font-weight: normal;
        font-style:normal;
        left: 41.5%;
        top: 39.7%;
}
ul {
    word-spacing: 20%;
    text-indent: 0.2%;
    font-weight: normal;
    text-transform: normal;
    font-family: 'Times New Roman', Times, serif;
    list-style:none;
}
ul {
    word-spacing: 20%;
    text-indent: 0.2%;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    list-style:none;
    left: 30%;
}
li:before{
    content:"\2606";
}
li {
    font-family:Georgia, 'Times New Roman', Times, serif;
}