figcaption{
        color: whitesmoke;
        height: auto;
        width: 100%;
        margin-left: -1%;
        margin-right: 8%;
        border: blue;
        border-style: dotted;
        margin-bottom: auto;
        background-color:darkseagreen;
        border-color: white;
        border-bottom: auto;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: normal;
        font-style:normal;
        left: 0%;
        top: 200%;
        
    }