p {
    color:white;
    width: 100%;
    padding: -43.4%;
    margin-top: -6%;
    margin-left: 24%;
    margin-right: 6%;
   border-style: solid;
    margin-bottom: auto;
    border-bottom: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight:bold;
    font-style:italic;
    left: 90%;
    top: 50%;
}