h6{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: indigo;
        width: 100%;
        left: 22%;
        right: 25%;
        margin-left: 1%;
        font-size: 120%; 
        font-weight: bold;
        font-style: normal;
}